section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  font-family: serif, ;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  margin: 10px;
  padding: 30px;
  border: 50px solid yellow;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}
